::placeholder { 
    color: gray;
    opacity: 1;
  }

.search_input{
    background-color: rgba(128, 128, 128, 0.315);
    width: 455px;
    border-radius: 25px;
    height: 35px;
 }

 #postbar{
    background-color: rgba(128, 128, 128, 0.315);
    width: 370px;
    border-radius: 25px;
    height: 35px;
 }

